.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spotifyLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainer {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px;
}

.genreContainer {
  padding: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.basic-multi-select {
  width: 100%;
}

.input {
  margin-left: 5px;
  margin-right: 10px;
  outline: 1px solid black;
  border-radius: 3px;
}

.songs {
  margin-top: 20px;
  width: 60%;
}

.songCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.songDesc {
  margin-left: 10px;
}